extends layout

block content
  h1= title
  p Welcome to #{title}
  
  nav
    if user
      a(href="/create-post") Create Post
      if !user.admin 
        a(href="/become-member") Become Member
      a(href="/logout") Log Out
    else
      a(href="login") Log in
      a(href="signup") Sign up

  if posts
    form
      ul
        each post in posts
          li
            div #{post.title}
            div #{post.message}
            div #{!!user ? post.user.username : "🥷 Unknown"}
            div #{!!user ? post.timestamp_yyyymmdd : "⏰ Unknown"} 
            if user && user.admin 
              button(type='submit' formaction=`/post/${post.id}/delete` formmethod="post") delete post

  
